
CREATE DATABASE PEDIDOS
GO
USE PEDIDOS
GO

CREATE TABLE TB_COR(
	CODCOR smallint NOT NULL,
	COR varchar(15) ,
CONSTRAINT PK_TB_COR PRIMARY KEY (CODCOR)
); 

CREATE TABLE TB_DEPARTAMENTO
(
	COD_DEPTO int IDENTITY(1,1) NOT NULL,
	DEPTO varchar(25) NOT NULL ,
 CONSTRAINT PK_TB_DEPARTAMENTO PRIMARY KEY (COD_DEPTO) 

);

CREATE TABLE TB_CARGO(
	COD_CARGO int IDENTITY(1,1) NOT NULL,
	CARGO varchar(30) NOT NULL,
	SALARIO_INIC float ,
 CONSTRAINT PK_TB_CARGO PRIMARY KEY (COD_CARGO) 
);
	

CREATE TABLE TB_PROD_FORN(
	ID_PRODUTO int NOT NULL,
	COD_FORNECEDOR int NOT NULL,
 CONSTRAINT PK_PROD_FORN 
 PRIMARY KEY (	ID_PRODUTO ASC,	COD_FORNECEDOR ASC)
);

CREATE TABLE TB_CLIENTE(
	CODCLI int IDENTITY(1,1) NOT NULL,
	NOME varchar(200) ,
	FANTASIA varchar(200),
	ENDERECO varchar(200),
	BAIRRO varchar(100),
	CIDADE varchar(30),
	ESTADO varchar(2),
	CEP varchar(9),
	END_COB varchar(60),
	CNPJ varchar(14), 
	INSCRICAO varchar(19),
	FONE1 varchar(15),
	FAX varchar(15),
	E_MAIL varchar(40),
	DATA_CAD datetime,
 CONSTRAINT PK_TB_CLIENTE PRIMARY KEY 
 (
	CODCLI ASC
)
);

CREATE TABLE TB_FORNECEDOR(
	COD_FORNECEDOR int IDENTITY(1,1) NOT NULL,
	NOME varchar(50),
	NOME_FANTASIA varchar(20),
	FISICA_JURIDICA char(1),
	COD_PAIS int ,
	CPF varchar(20) ,
	CNPJ varchar(20) ,
	INSC_ESTADUAL varchar(15) ,
	ENDERECO varchar(50) ,
	CEP char(9) ,
	BAIRRO varchar(30) ,
	CIDADE varchar(30) ,
	ESTADO char(2) ,
	FONE1 varchar(15) ,
	FONE2 varchar(15) ,
	FAX varchar(15) ,
	E_MAIL varchar(100) ,
	WEB_SITE varchar(100) ,
	COD_COND_PAGTO int ,
	COD_RAMO_ATIVIDADE int ,
	LIMITE_CREDITO numeric(15, 2) ,
	PRAXO_MAX int ,
	SN_ATIVO char(1) ,
 CONSTRAINT PK_TB_FORNECEDOR PRIMARY KEY (COD_FORNECEDOR ASC)
 );

CREATE TABLE TB_UNIDADE(
	COD_UNIDADE smallint IDENTITY(1,1) NOT NULL,
	UNIDADE varchar(20) ,
 CONSTRAINT PK_TB_UNIDADE PRIMARY KEY  (COD_UNIDADE ASC)
);
GO

CREATE TABLE TB_TIPOPRODUTO(
	COD_TIPO smallint IDENTITY(1,1) NOT NULL,
	TIPO varchar(30) ,
 CONSTRAINT PK_TB_TIPOPRODUTO PRIMARY KEY
(
	COD_TIPO ASC
)
);
GO
CREATE TABLE TB_VENDEDOR(
	CODVEN smallint IDENTITY(1,1) NOT NULL,
	NOME varchar(50) ,
	ENDERECO varchar(60) ,
	BAIRRO varchar(30) ,
	CIDADE varchar(20) ,
	ESTADO varchar(2) ,
	CEP varchar(8) ,
	CPF varchar(18) ,
	RG varchar(15) ,
	FONE varchar(15) ,
	E_MAIL varchar(35) ,
	DATA_CAD datetime ,
	DATA_NASC datetime ,
	PORC_COMISSAO decimal(5, 2)
	
 CONSTRAINT PK_TB_VENDEDOR PRIMARY KEY
(
	CODVEN ASC
)
);
GO
CREATE TABLE TB_ITENSPEDIDO(
	NUM_PEDIDO int NOT NULL,
	NUM_ITEM smallint NOT ,
	ID_PRODUTO int ,
	COD_PRODUTO varchar(13) ,
	CODCOR smallint ,
	QUANTIDADE int ,
	PR_UNITARIO numeric(18, 4) ,
	DATA_ENTREGA datetime ,
	SITUACAO varchar(1) ,
	DESCONTO float ,
 CONSTRAINT PK_TB_ITENSPEDIDO PRIMARY KEY
(
	NUM_PEDIDO ASC,
	NUM_ITEM ASC
)
);
GO
CREATE TABLE TB_Empregado(
	CODFUN int IDENTITY(1,1) NOT NULL,
	NOME varchar(35) NOT ,
	NUM_DEPEND smallint ,
	DATA_NASCIMENTO datetime ,
	COD_DEPTO int ,
	COD_CARGO int ,
	DATA_ADMISSAO datetime ,
	SALARIO numeric(18, 2) ,
	SINDICALIZADO varchar(1) ,
	OBS text ,
	FOTO image ,
 CONSTRAINT PK_TB_Empregado PRIMARY KEY 
(
	CODFUN ASC
)
);

GO
CREATE TABLE TB_Dependente(
	CODFUN int NOT NULL,
	CODDEP smallint NOT ,
	NOME varchar(30) NOT ,
	DATA_NASCIMENTO datetime ,
 CONSTRAINT PK_TB_Dependente PRIMARY KEY 
(
	CODFUN ASC,
	CODDEP ASC
)
); 
GO
CREATE TABLE TB_PEDIDO(
	NUM_PEDIDO int IDENTITY(1,1) NOT NULL,
	CODCLI int ,
	CODVEN smallint ,
	DATA_EMISSAO datetime ,
	VLR_TOTAL numeric(18, 2) ,
	SITUACAO varchar(1) ,
	OBSERVACOES text ,
	tipo_pedido char(1) ,
 CONSTRAINT PK_tb_PEDIDO PRIMARY KEY 
(
	NUM_PEDIDO ASC
)
);
GO
CREATE TABLE tb_PRODUTO(
	ID_PRODUTO int IDENTITY(1,1) NOT NULL,
	COD_PRODUTO varchar(13) NOT NULL,
	DESCRICAO varchar(40) ,
	COD_UNIDADE smallint ,
	COD_TIPO smallint ,
	PRECO_CUSTO numeric(18, 4) ,
	PRECO_VENDA numeric(18, 4) ,
	QTD_ESTIMADA int ,
	QTD_REAL int ,
	QTD_MINIMA int ,
	CLAS_FISC varchar(10) ,
	IPI int ,
	PESO_LIQ numeric(18, 2) ,
 CONSTRAINT PK_TB_PRODUTO PRIMARY KEY
(
	ID_PRODUTO ASC
)
);
GO
